.tableHead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--neutral300);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.center {
	text-align: center;
}
