.button_container {
	display: flex;
	width: 100%;
	gap: 1rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	border: 1px solid;
	border-color: inherit;
	font-weight: bold;
}

.button:hover {
}

.button:active {
	opacity: 0.6;
}

.primary {
	color: var(--shadeLight);
	background-color: var(--primary600);
	&:hover {
		background-color: var(--primary700);
	}
}

.secondary {
	color: var(--shadeLight);
	background-color: var(--secondary400);
	&:hover {
		background-color: var(--secondary700);
	}
}

.outline {
	color: var(--primary600);
	background-color: transparent;
	border-color: var(--primary600);
	&:hover {
		color: var(--shadeLight);
		background-color: var(--primary600);
		border-color: var(--primary600);
	}
}

.flat {
	color: var(--shadeDark);
	background-color: transparent;
	border: none;
	&:hover {
		background-color: var(--primary200);
	}
}

.error {
	color: var(--shadeLight);
	background-color: var(--error500);
}

.success {
	color: var(--shadeLight);
	background-color: var(--success500);
}
