.button_container {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid;
	border-color: transparent;
	font-weight: bold;
	transition: background-color 200ms linear;
	cursor: pointer;
}

.button:active {
	transform: scale(0.95);
}

.primary,
.secondary,
.outline {
	padding: 0.5rem 1.5rem;
}

.primary {
	color: var(--shadeLight);
	background-color: var(--primary600);
	border-color: var(--primary600);
	&:hover {
		background-color: var(--primary700);
		border-color: var(--primary700);
	}
}

.secondary {
	color: var(--shadeLight);
	background-color: var(--secondary500);
	border-color: var(--secondary500);
	&:hover {
		background-color: var(--secondary600);
		border-color: var(--secondary600);
	}
}

.outline {
	color: var(--text100);
	background-color: transparent;
	border-color: var(--text100);

	&:hover {
		color: var(--shadeLight);
		background-color: var(--text100);
		border-color: var(--text100);
	}
}

.flat {
	color: var(--shadeDark);
	background-color: transparent;
	border: none;
}

.round {
	border-radius: 50%;
	background-color: transparent;
}

.deleteTodo {
	img {
		width: 30px;
		height: 30px;
		transition: all 200ms ease-in-out;
	}
	&:hover {
		img {
			transform: scale(1.2);
		}
	}
}

.addTodo {
	padding: 1rem;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
	background-color: var(--primary600);
	border-color: var(--primary600);
	color: var(--shadeLight);
	&:hover {
		background-color: var(--primary700);
		border-color: var(--primary700);
	}
}

.error {
	color: var(--shadeLight);
	background-color: var(--error500);
}

.success {
	color: var(--shadeLight);
	background-color: var(--success500);
}
