:root {
	font-family: Roboto, system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--shadeLight: hsl(0, 0%, 100%);
	--shadeDark: hsl(0, 0%, 0%);

	--neutral100: hsl(0, 0%, 100%);
	--neutral200: hsl(0, 0%, 95%);
	--neutral300: hsl(0, 0%, 90%);
	--neutral400: hsl(0, 0%, 85%);
	--neutral500: hsl(0, 0%, 75%);
	--neutral600: hsl(0, 0%, 65%);
	--neutral700: hsl(0, 0%, 55%);
	--neutral800: hsl(0, 0%, 45%);
	--neutral900: hsl(0, 0%, 35%);

	--primary100: hsl(125, 100%, 80%);
	--primary200: hsl(125, 100%, 80%);
	--primary300: hsl(125, 100%, 70%);
	--primary400: hsl(125, 100%, 60%);
	--primary500: hsl(125, 100%, 50%);
	--primary600: hsl(125, 100%, 40%);
	--primary700: hsl(125, 100%, 30%);
	--primary800: hsl(125, 100%, 20%);
	--primary900: hsl(125, 100%, 10%);

	--secondary100: hsl(36, 100%, 90%);
	--secondary200: hsl(36, 100%, 80%);
	--secondary300: hsl(36, 100%, 70%);
	--secondary400: hsl(36, 100%, 60%);
	--secondary500: hsl(36, 100%, 50%);
	--secondary600: hsl(36, 100%, 40%);
	--secondary700: hsl(36, 100%, 30%);
	--secondary800: hsl(36, 100%, 20%);
	--secondary900: hsl(36, 100%, 10%);

	--text100: hsl(180, 33%, 4%);
	--text200: var(--neutral700);
	--text300: var(--neutral400);
	--text400: var(--neutral100);

	--error50: hsl(342, 100%, 82%);
	--error500: hsl(0, 74%, 60%);

	--success50: hsl(122, 100%, 86%);
	--success500: hsl(131, 99%, 32%);

	--s: 0.5rem;
	--m: 1rem;
	--l: 1.8rem;
	--xl: 2.4rem;
	--xxl: 3rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	color: var(--text100);
}

h1 {
	font-size: var(--xxl);
	font-weight: 600;
}

h2 {
	font-size: var(--xl);
	font-weight: 600;
}

h3 {
	font-size: var(--l);
	font-weight: 600;
	margin-bottom: 8px;
}

h4 {
	font-size: var(--m);
	font-weight: 600;
	margin-bottom: 8px;
}

p {
	font-size: var(--medium);
}

a {
	color: inherit;
	text-decoration: none;
}

.main {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	ul {
		padding-top: 2rem;
		text-align: left;

		margin: 0 auto;
	}
}
